body {
    background-image: url('Block-Images-10.webp'); 
    background-attachment: fixed; 
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
  }
  * {
      box-sizing: border-box;
  }
  header {
      background-color: #666;
      padding: 30px;
      text-align: center;
      font-size: 35px;
      color: white;
  }
  nav {
      float: left;
      width: 30%;
      height: 300px;
      background: #ccc;
      padding: 20px;
  }
  nav ul {
      list-style-type: none;
      padding: 0;

  }
  article {
      float: left;
      padding: 20px;
      width: 70%;
      background-color: #f1f1f1;
      height: 300px;
  }
  section::after {
      content: "";
      display: table;
      clear: both;
  }
  footer {
      background-color: #777;
      padding: 10px;
      text-align: center;
      color: white;    
  }
  @media (max-width:600px) {
      nav, article {
          width: 100%;
          height: auto;
      }
  }

  ul {
      list-style-type: none;
      background-color: midnightblue;
      overflow: hidden;
  }

  li {
      float: left;
  }

  li a {
      color: aquamarine;
      display: block;
      text-align: center;
      padding: 16px;
      text-decoration: none;
  }

  li a:hover {
      background-color: rgb(1, 1, 48);
      color: rgb(255, 255, 255);
      text-decoration: none;
  }

  .note {
    background-color: white;
    color: rgb(42, 41, 41);
    border: 2px solid black;
    padding: 5px;
    text-decoration: line-through;
}

  .city {
      background-color: tomato;
      color: white;
      border: 2px solid green;
      margin: 20px;
      padding: 20px;
  }


  .town {
    background-color: green;
    color: white;
    border: 2px dashed tomato;
    margin: 20px;
    padding: 20px;
}

#myHeader {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
}

iframe {
    width: 450px;
    height: 300px;
    border: 2px inset rgb(67, 65, 65);
}


